*{
    margin: 0px;
    padding: 0px;
}

body{
    color: #c489ab;
    text-align: center;  
}
.card button{
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: #e9bbd2;
    color: #000;
    border-radius: 20pc;
    cursor: pointer;
}